.slideshow {
    height: 100vh;
    background-color: #030f0f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }
  
  .carousel {
    width: 125vh;
    height: 125vh;
    border: 75px solid #4ab896;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -75vh;
    flex-shrink: 0;
    transition: transform 1s;
  }
  
  .slide {
    /* background-color: red; */
    position: absolute;
    width: 35vh;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
  }
  
  .slide img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    transition: all 1s ease-in-out;
  }
  
  
  .controls {
    width: 80vw;
    position: sticky;
    bottom: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .controls a {
    padding: 1vw;
    margin: 1vw;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 1s;
  }
  
  .controls a.active {
    background-color: #7dbd77;
  }
  
  .controls img {
    width: 10vw;
  }
  